<!-- edit.erb -->
<p>Edit content of <%= @document_name %>:</p>

<form method="post" action="/<%= @document_name %>">
  <textarea name="content" cols="80" rows="20"><%= @content %></textarea>
  <br />
  <button type="submit">Save Changes</button>
</form>
