<!-- new.erb -->
<form method="post" action="/create">
  <label for="document_name">Add a new document:</label>
  <input type="text" name="document_name" id="document_name">
  <br />
  <br />
  <label for="content" name="content" id="content">Document Content:</label>
  <br />
  <textarea name="content" cols="80" rows="20"><%= @content %></textarea>
  <button type="submit">Create</button>
</form>
